:root{
    --loginShadow: 0 5px 10px 2px rgba(0, 0, 0, 0.08);
    --issueShadow: 0 0px 10px 1px rgba(0, 0, 0, 0.08);
    --cardShadow: 0 3px 6px 0px rgba(0, 0, 0, 0.08);
    --text2: #4A00FF;
    --input-border: #E4E4E7;
    --grey: #64748B;
    --black: #1F2937;
    --fuga: #00A96E;
    --fuga-accent: #CBFADB;
    --closed: #A855F7;
    --closed-accent: #F0E2FF;
}

html, html * {
    transition: color 0.3s, background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.active {
    color: var(--text2);
    background: var(--closed);
    border: 1px solid var(--closed-accent);
}

h1, h2, h3, h4, h5, .red-badge, .yellow-badge {
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.red-badge, .yellow-badge, .green-badge, .cyan-badge, .purple-badge, .pale-badge{
    /* text-xs rounded-2xl p-2 */
    font-size: 0.75rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

.red-badge {
    /* text-red-700 bg-red-100 border-red-300 */
    color: oklch(50.5% 0.213 27.518);
    background: oklch(93.6% 0.032 17.717);
    border: 1px solid oklch(80.8% 0.114 19.571);
}

.yellow-badge {
    color: oklch(55.4% 0.135 66.442);
    background: oklch(97.3% 0.071 103.193);
    border: 1px solid oklch(90.5% 0.182 98.111);
}

.green-badge {
    color: var(--fuga);
    background: var(--fuga-accent);
    border: 1px solid #00452d;
}

.cyan-badge {
    color: #008080;
    background: #00FFFF;
    border: 1px solid #046276;
}

.pale-badge {
    color: #9CA3AF;
    font-weight: 500;
    background: #EEEFF2;
    border: none;
}

::before .card {
    /* before:bg-(--fuga) before:h-0.5 before:w-full before:top-0 before:left-0 before:rounded-t-lg */
    position: absolute;
    top: 0;
    left: 0;
    background: var(--fuga);
    height: 0.125rem;
    width: 100%;
    border-radius: 0.5rem 

}