@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, synthwave --dark;
}

@theme{
    --font-worksan: 'Work Sans', ui-sans-serif, system-ui, sans-serif;
    --font-mont: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
    --font-manrope: 'Manrope', ui-sans-serif, system-ui, sans-serif;
    --font-bangla: 'Anek Bangla', ui-sans-serif, system-ui, sans-serif;
}

[data-theme="synthwave"] {
    --loginShadow: 0 5px 10px 2px rgba(255, 180, 255, 0.3);
    --issueShadow: 0 0px 10px 1px rgba(255, 180, 255, 0.3);
    --cardShadow: 0 3px 6px 0px rgba(255, 180, 255, 0.3);

    h1 {
        @apply text-purple-300 text-[2rem] font-bold leading-8;
    }

    h2 {
        @apply text-purple-300 text-2xl font-bold;
    }

    h3 {
        @apply text-purple-300 text-xl font-semibold;
    }

    h4 {
        @apply text-purple-300 text-lg font-semibold leading-6.5;
    }

    h5{
        @apply text-(--grey) font-normal leading-5.5;
    }

    .active {
        @apply bg-(--text2) border-(--closed) text-(--closed-accent);
    }

    .green-badge{
        @apply text-(--fuga-accent) bg-[#00452d] border-(--fuga)
    }

    .yellow-badge {
        @apply text-yellow-100 bg-yellow-500 border-yellow-300;
    }

    .pale-badge{
        @apply text-[#EEEFF2] bg-[#9CA3AF];
    }

    .cyan-badge{
        @apply text-[#00FFFF] bg-[#046276] border-[#008080];
    }

    .red-badge {
        @apply text-red-100 bg-red-700 border-red-300;
    }

    .select-card-ambience{
        @apply bg-[rgb(74, 0, 255)]/30;
    }

    #select-card{
        @apply bg-base-content;
    }
    
}

@layer components{
    .red-badge {
        @apply text-xs text-red-700 bg-red-100 border-red-300 rounded-2xl p-2;
    }

    .yellow-badge {
        @apply text-xs text-yellow-700 bg-yellow-100 border-yellow-300 rounded-2xl p-2;
    }

    h1 {
        @apply text-(--black) text-[2rem] font-bold leading-8;
    }

    h2 {
        @apply text-(--black) text-2xl font-bold;
    }

    h3 {
        @apply text-(--black) text-xl font-semibold;
    }

    h4 {
        @apply text-(--black) text-lg font-semibold leading-6.5;
    }

    h5{
        @apply text-(--grey) font-normal leading-5.5;
    }

    p {
        @apply text-(--dark-grey) text-sm font-normal leading-5 mb-2;
    }

    ul > li {
        @apply text-(--dark-grey) text-xs font-normal leading-5 list-disc list-inside;
    }

    .sub{
        @apply text-(--grey) font-normal;
    }

    output {
        @apply text-(--grey) font-medium;
    }

     .btn {
        @apply text-(--white) bg-(--primary) rounded-lg py-2 px-4 text-sm font-medium leading-5;
    }

     .btn-secondary {
        @apply text-(--primary) bg-(--stroke) rounded-lg py-2 px-4 text-sm font-medium leading-5;
    }

     .btn-green {
        @apply text-(--white) bg-(--green) rounded-lg py-2 px-4 text-sm font-medium leading-5;
    }

     .btn-red {
        @apply text-(--white) bg-(--red) rounded-lg py-2 px-4 text-sm font-medium leading-5;
    }

     .btn-disabled {
        @apply text-(--grey) bg-(--stroke) rounded-lg py-2 px-4 text-sm font-medium leading-5 cursor-not-allowed;
    }

    .flex-center-col-x{
        @apply flex flex-col justify-center;
    }

    .flex-center-col-y{
        @apply flex flex-col items-center;
    }

    .flex-center-col{
        @apply flex flex-col justify-center items-center;
    }

    .flex-y{
        @apply flex flex-col;
    }

    .flex-center-row-x{
        @apply flex flex-row justify-center;
    }

    .flex-center-row-y{
        @apply flex flex-row items-center;
    }

    .flex-center-row{
        @apply flex flex-row justify-center items-center;
    }

    .flex-x{
        @apply flex flex-row;
    }

    .flex-center-x{
        @apply flex justify-center;
    }

    .flex-center-y{
        @apply flex items-center;
    }

    .flex-center{
        @apply flex justify-center items-center;
    }

    .flex-between{
        @apply flex justify-between;
    }

    .flex-around{
        @apply flex justify-around;
    }

    .flex-evenly{
        @apply flex justify-evenly;
    }
}
